{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": 3
            },
        ],
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-react-jsx",
        "emotion",
        "react-hot-loader/babel"
    ]
}